.appointment-details {
  padding: 20px;
  border-radius: 10px;
  font-family: 'Arial', sans-serif;
}

.toggle-tabs {
  margin: auto;
  border-radius: 15px;
  padding: 2px;
  display: flex;
  margin-top: 20px;
  border: 2px solid #d2e3ee;
  /*flex-wrap: wrap;*/
  width: 100%;
}

.tab {
  padding: 10px;
  width: 50%;
  margin: auto 0;
  text-align: center;
  cursor: pointer;
  /* color: #0d3047; */
  transition: color 0.3s ease;
  flex-basis: 100%;
}

.tab p {
  
  font-weight: bold;
}

.tab.active {
  border-radius: 15px;
  color: #007bff;
  border: 4px solid #007bff;
  padding: 10px;
}

.icon {
  font-size: 1.5rem;
  display: block;
}

.tab:hover {
  color: #007bff;
}

.content-area {
  margin-top: 20px;
}

.content {
  display: none;
}

.content.active {
  display: block;
}

/* Responsive Styles */
@media screen and (min-width: 768px) {

  .toggle-tabs {
    width: 50%;
    font-size: 1rem;
    justify-content: space-between; /* Adjust spacing for larger screens */
  }

 /*  .tab {
    flex-basis: auto; 
  }Allows tabs to take their natural width */

  .content-area {
    margin-top: 30px;
  }
}
