run = "php -S 0.0.0.0:8000 -t ."

entrypoint = "index.php"
modules = ["python-3.11"]

[nix]
channel = "stable-24_05"

[deployment]
run = ["php", "-S", "0.0.0.0:8000", "-t", "."]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 8000
externalPort = 80
