
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 0;
      border-bottom: 2px solid #E8E8E8;
    }

    button.btn {
      margin: auto;
      background: white;
      border-radius: 5px;
      padding: 6px;
  }

    .header h2 {
      color: #1A73E8;
      font-size: 24px;
    }

    .controls {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1rem;
      margin-top: 2rem;
    }

    #new-invoice {
      background-color: #4CAF50;
      color: white;
      padding: 5px 10px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    #new-invoice:hover {
      background-color: #45a049;
    }

    p{
        padding: 20px;
        font: 1em sans-serif;
    }

    .place{
        padding: 20px;
        justify-content: center;
        align-items: center;
        text-align: center;
        font: 1em sans-serif;
    }

    /* Table section */
    .table-and-details {
      display: flex;
      justify-content: space-between;
    }

    .invoice-table {
      width: 60%;
      border-collapse: collapse;
      margin-right: 20px;
      background-color: #fff;
    }

    .invoice-table th, .invoice-table td {
      padding: 10px;
      text-align: left;
      border-bottom: 1px solid #ddd;
      height: 40px; /* Fixed row height */
      color: #4D4D4D;
    }

    .invoice-table tr:hover {
        background-color: #E8F0FE;
        cursor: pointer;
    }

    .invoice-table .selected {
        background-color: #E8F0FE;
        color: #FFFFFF;
    }

    .invoice-details {
      width: 40%;
      padding: 20px;
      margin: 10px;
      border: 1px solid #ddd;
      background-color: #f9f9f9;
      border-radius: 10px;
    }

    .invoice-details h3 {
      margin-top: 0;
    }

    .pagination {
      margin-top: 20px;
      display: flex;
      justify-content: center;
    }

    .pagination button {
      padding: 8px 16px;
      margin: 0 4px;
      border: 1px solid #ffffff;
      background-color: #f9f9f9;
      border-radius: 10px;
      cursor: pointer;
    }

    .pagination button.active {
      background-color: #1A73E8;
      color: white;
      border: 1px solid #1A73E8;
    }

    .pagination button:hover {
      background-color: #ddd;
    }
