@import url("//fonts.googleapis.com/css?family=Open+Sans+Condensed");
@import url("https://fonts.googleapis.com/css?family=Inria+Sans");
@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans");
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&display=swap');

/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

html{
  background-color: #E2ECF8;
}

body {
  background-color: #E2ECF8;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  height: 100vh;
  margin: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}



/* Sidebar when open */
.sidebar.open {
  width: 250px; /* Expanded width */
}

/* Home section styles */
.home-section {
    /* background: #FFFF; */
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 78px;
    width: calc(100% - 78px);
    padding: 20px;
    transition: all 0.5s ease;
}

/* Home section when the sidebar is open */
.sidebar.open ~ .home-section {
  left: 250px;
  width: calc(100% - 250px);
}



.home-section .text{
  display: inline-block;
  color: #11101d;
  font-size: 25px;
  font-weight: 500;
  margin: 18px
}



/* Right Panel Styling */
.right-panel {
  position: fixed;
  top: 0;
  right: -350px; 
  width: 300px;
  height: 100%; 
  border-radius: 15px;
  background-color: #fff;
  z-index: 99;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
}

.right-panel.show{
  right: 0;
}

/* Maximized Panel Styling */
.right-panel.maximized {
  height: 100%; /* Full viewport height */
  width: 100%
}

/* Minimized Panel Styling */
.right-panel.minimized {
  height: 100%; /* Minimizes the panel to just the header */
  width: 300px;
  overflow: hidden; /* Hide the panel content */
}

/* Panel Header */
.panel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #FFF;
  color: #000;
  border-bottom: 1px solid #ddd;
}

.panel-header h2 {
  margin: 0;
  font-size: 18px;
}

.header-icons {
  display: flex;
  align-items: center;
}

.header-icons i {
  margin-left: 10px;
  font-size: 20px;
  cursor: pointer;
  transition: transform 0.3s ease;
}


/* Hide text when panel is shrunk */
.right-panel.shrunk .panel-header h2 {
  opacity: 0;
  pointer-events: none;
}

/* Center icons when shrunk */
.right-panel.shrunk .panel-header {
  justify-content: center;
}

/* Panel Content */
.panel-content {
  background-color: #C1E4F8;
  flex: 1; 
  overflow-y: auto;
}

.right-panel.shrunk .panel-content {
  display: none; /* Hide content when shrunk */
}

/* Notification Item */
.notification-item {
  background-color: #fff;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
}

.notification-item img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 15px;
}

.notification-item .notification-content {
  flex: 1;
}

.notification-item .notification-time {
  color: #888;
  font-size: 12px;
}

.panel-footer {
  padding: 5px 0;
  margin-top: auto;
  background-color: #FFFF;
  text-align: center;
  border-top: 1px solid #ddd;
  height: auto; 
  line-height: 30px; 
}

.panel-footer button {
  color: #000;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.panel-footer button:hover {
  color: #130e5e;
}

.section-title {
  font-size: 14px;
  font-weight: bold;
  color: #0D6EFD;
  margin-bottom: 5px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
}

.form-group label {
  font-weight: bold;
  font-size: 12px;
  color: #333;
  display: block;
}

.form-group input[readonly] {
  font-size: 12px;
  padding: 6px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-top: 3px;
  width: 100%;
}

.personal-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 8px;
}

.form-group {
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right:10px;
  border-radius: 4px;
}

.personal-info2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Creates a 2-column grid */
  grid-gap: 8px;
}

.form-group2 {
  display: flex;
  margin-bottom: 10px;
}

label {
  font-weight: bold;
}

span {
  flex-grow: 1; /* Allows the span to take up the remaining space */
  padding-left: 10px; /* Adds space between the label and text */
}


.treatment-record {
  margin-top: 10px;
}

textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  resize: none;
  font-size: 12px;
}

.button-container {
  display: flex; /* Change display to flex */
  justify-content: center; /* Center the buttons horizontally */
  margin-top: 10px;
}

.button-container .action-btn {
  padding: 8px 15px;
  font-size: 14px;
  border: none;
  border-top: 20px;
  color: white;
  background-color: #0D6EFD;
  border-radius: 20px;
  cursor: pointer;
}

.button-container .action-btn:hover {
  background-color: #0056b3;
}


.form-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 8px;
}

.doctor-remarks {
  grid-column: span 2;
}

.doctor-remarks textarea {
  height: 50px;
}

.dropdown-container {
  position: relative;
  width: 100%;
}

.dropdown-container button {
  width: 100%;
  padding: 8px;
  background-color: white;
  color: black;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
  text-align: left;
  font-size: 12px;
}

.dropdown-menu {
  display: none;
  position: absolute;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ddd;
  max-height: 150px;
  overflow-y: auto;
  z-index: 1;
  border-radius: 4px;
  margin-top: 3px;
}

.dropdown-menu label {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border-bottom: 1px solid #eee;
  font-size: 12px;
}

.dropdown-menu label:last-child {
  border-bottom: none;
}

.selected-items {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.selected-item-box {
  display: flex;
  align-items: center;
  padding: 6px;
  background-color: #eaf4fe;
  border-radius: 4px;
  position: relative;
  border: 1px solid #ddd;
  padding-left: 20px;
  font-size: 12px;
}

.remove-item {
  position: absolute;
  left: 5px;
  background-color: transparent;
  color: black;
  border: none;
  cursor: pointer;
  font-size: 12px;
}

.remarks-container {
  margin-top: 0px;
  grid-column: 2 / 3;
}

.remarks-container textarea {
  width: 100%;
  height: 80px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  resize: none;
  font-size: 12px;
}




@media (max-width: 850px) {

  .sidebar.open ~ .home-section{
    left: 78px;
    width: calc(100% - 78px);
    opacity: 0.2;
    background: #000;
    z-index: 99;
  }


}