/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
  
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 65px;
  background: #03253A;
  padding: 6px;
  margin: 0 5px;
  border-radius: 25px;
  z-index: 99;
  transition: all 0.5s ease;
}

.sidebar.open {
  margin: 0;
  border-radius: 0;
  width: 250px;
}

.sidebar .logo-details {
  height: 60px;
  display: flex;
  padding: 10x;
  margin-top: 15px;
  align-items: center;
  font-family: 'Alumni Sans';
  position: relative;
}

.sidebar .logo-details .icon {
  opacity: 0;
  transition: all 0.5s ease;
}

.sidebar .logo-details .logo_name {
  color: #fff;
  font-size: 24px;
  opacity: 0;
  transition: all 0.5s ease;
}

.sidebar.open .logo-details .logo_name {
  opacity: 1;
}

.sidebar .logo-details #btn {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  font-size: 24px;
  cursor: pointer;
  text-align: right;
  transition: all 0.5s ease;
}

.sidebar.open .logo-details #btn {
  text-align: right;
}

.sidebar i {
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 50px;
}

.sidebar .nav-title {
    /* margin-top: 20px; */
    color: #c5c5c5;
    font-size: 14px;
    padding: 10px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: 0.4s;
}

.sidebar.open .nav-title {
  opacity: 1;
  pointer-events: auto;
}

.sidebar .nav-list {
  height: 100%;

}

.sidebar li {
  position: relative;
  list-style: none;
}

.sidebar li .tooltip {
  position: absolute;
  top: -20px;
  left: calc(100% + 10px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}

.sidebar li:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}

.sidebar.open li .tooltip {
  display: none;
}

.sidebar input {
  font-size: 15px;
  color: #FFF;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
 
  transition: all 0.5s ease;
  background: #1d1b31;
}

.sidebar.open input {
  padding: 0 20px 0 50px;
  width: 100%;
}

.sidebar .bx-search {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 22px;
  background: #1d1b31;
  color: #FFF;
}

.sidebar.open .bx-search:hover {
  background: #1d1b31;
  color: #FFF;
}

.sidebar .bx-search:hover {
  background: #FFF;
  color: #11101d;
}

.sidebar.open li a {
  border-radius: 0;
}


.sidebar li a {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  border-radius: 12px;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #03253A;
}

.sidebar li a:hover {
  background: #FFF;
}


.sidebar li.active a {
  background: #30CE88;
  color: #fff;
}


.sidebar li.active a i {
  color: #fff;
  /* Icon color for active item */
}


.sidebar li a .links_name {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  /*white-space: nowrap;*/
  margin-left: 1rem;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}

.sidebar.open li a .links_name {
  opacity: 1;
  pointer-events: auto;
}

.sidebar li a:hover .links_name,
.sidebar li a:hover i {
  transition: all 0.5s ease;
  color: #11101D;
}

.sidebar li i {
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 15px;
}

.sidebar li.profile {
    /* width: 50px; */
    position: absolute;
    height: 60px;
    /* left: 0; */
    margin: 10px 0;
    bottom: 0;
    /* background: #03253A; */
    border-radius: 25px;
    text-align: center;
    transition: all 0.5s ease;
    /* border-radius: 0px 15px 0px 15px; */
    z-index: 99;
    overflow: hidden;
}


.sidebar.open li.profile {
  opacity: 1;
  width: 240px;
}

.sidebar li .profile-details {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}


.sidebar li.profile .name,
.sidebar li.profile .job {
  text-align: left;
  margin: 0 15px;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  /* white-space: nowrap; */
  overflow: hidden;
  /* text-overflow: ellipsis; */
  opacity: 0;
  max-width: 55px;
  transition: 0.5s;
}

.sidebar.open li.profile .name,
.sidebar.open li.profile .job {
  opacity: 1;
  max-width: 200px;
  transition: 0.5s;
}

.sidebar li img {
  opacity: 0;
}

.sidebar.open li img {
  opacity: 1;
  height: 35px;
  width: 35px;
  object-fit: cover;
  border-radius: 25px;
  margin-right: 8px;
}

.sidebar .profile #log_out {
  position: absolute;
  opacity: 1;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 60px;
  /* line-height: 60px; */
  /* border-radius: 25px; */
  color: #fff;
  transition: all 0.5s ease;
}

.sidebar.open .profile #log_out {
  width: 30px;
  background: none;
  right: 5px;
  transition: all 0.5s ease;
}

.sidebar .profile #log_out:hover {
  background: #FFF;
  color: #11101D;
  cursor: pointer;
  border-radius: 12px;
}




/* Overlay default (hidden) */
.overlay {
  display: none;
}
 

/* Sidebar and home section on mobile (overlay effect) */
@media (max-width: 850px) {
  .sidebar.open {
    opacity: 1; /* Maintain opacity */
    background:#03253A;
    z-index: 9999;
  }

  /* Modal overlay effect */
  .sidebar.open ~ .overlay {
    width: fit-content;
    height: 100%;
    z-index: 99;  /* Ensure it's below the sidebar but above the home section */
  }

  /* Disable interaction with the home section */
  .sidebar.open ~ .home-section {
    pointer-events: none;  /* Disable clicking or interacting with home section */
  }

  
  /* Adjust home section appearance when the sidebar opens */
  .home-section {
    position: relative;
    margin-left: 0;
    width: 100vw;  /* Ensure the home section occupies the full width */
    transition: all 0.5s ease;
    z-index: 97;  /* Ensure it's below the overlay */
  }
}
