.account-toggle {
  border-radius: 10px;
  border-bottom: 1px solid black;
  padding: 10px;
  margin-top: 30px;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  font-size: 1rem;
  color: #0d3047;
}

.toggle-item {
  padding: 0 20px;
  display: inline-block;
  cursor: pointer;
  color: #0d3047;
  transition: color 0.3s ease;
}

.toggle-item.active {
  background-color: #cad6e3;
  padding: 0.5rem 2rem;
  border-radius: 5px;
  color: #007bff;
}

.separator {
  color: #0d3047;
  margin: 0 10px;
  font-size: 1.1rem;
}

.toggle-item:hover {
  color: #007bff;
}

.content-area {
  margin-top: 20px;
}

.content {
  padding: 20px;
  display: none;
}

.content.active {
  display: block;
}